.modal#letter-new-modal
  .modal__back
  .modal__pick-form
    .modal__pick-form__message
      %p URLを入力して
      %p おすすめの記事を投稿しましょう
    = form_tag('/letters') do |f|
      .modal__pick-form__url-group
        = text_field_tag :url, "", placeholder: "URLを入力", class: "modal__pick-form__url-group__url-value", id: "letter-form", autofocus: true
