.header {
  width: 100%;
  min-width: 600px;
  height: 50px;
  position: fixed;
  box-shadow: 0 0 2px #666;
  background-color: #15274D;
  color: #FFFFFF;
  z-index: 100;
  &__title {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    width: 300px;
    &__font {
      color: #FFFFFF;
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
    &__user {
      position: relative;
      right: 130px;
      top: 12px;
      height: 40px;
      width: 40px;
      &__avatar {
        width: 26px;
        height: 26px;
        border-radius: 26px;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
    &__new-letter {
      position: relative;
      right: 40px;
      width: 24px;
      height: 24px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    &__regist {
      position: relative;
      top: 16px;
      right: 90px;
      &__font {
        color: #FFFFFF;
      }
    }
    &__login {
      position: relative;
      top: 4px;
      right: 10px;
      &__font {
        color: #FFFFFF;
      }
    }
  }
}
