script src="assets/plugins/jquery/jquery.min.js"
script src="assets/plugins/jquery/jquery-migrate.min.js"
script src="assets/plugins/bootstrap/js/bootstrap.min.js"

script src="assets/plugins/back-to-top.js"
script src="assets/plugins/smoothScroll.js"
script src="assets/plugins/counter/waypoints.min.js"
script src="assets/plugins/counter/jquery.counterup.min.js"
script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"
script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"
script src="assets/plugins/master-slider/masterslider/masterslider.js"
script src="assets/plugins/master-slider/masterslider/jquery.easing.min.js"
script src="assets/plugins/modernizr.js"
script src="assets/plugins/login-signup-modal-window/js/main.js"
script src="assets/js/custom.js"
script src="assets/js/app.js"
script src="assets/js/plugins/fancy-box.js"
script src="assets/js/plugi\t\tns/owl-carousel.js"
script src="assets/js/plugins/master-slider-showcase1.js"
script src="assets/js/plugins/style-switcher.js"
