/! Favicon
link href="favicon.ico" rel=("shortcut icon") /
/! Web Fonts
link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700" rel="stylesheet" type="text/css" /
/! CSS Global Compulsory
link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /
link href="assets/css/blog.style.css" rel="stylesheet" /
/! CSS Header and Footer
link href="assets/css/headers/header-v8.css" rel="stylesheet" /
link href="assets/css/footers/footer-v8.css" rel="stylesheet" /
/! CSS Implementing Plugins
link href="assets/plugins/animate.css" rel="stylesheet" /
link href="assets/plugins/line-icons/line-icons.css" rel="stylesheet" /
link href="assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" /
link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" /
link href="assets/plugins/login-signup-modal-window/css/style.css" rel="stylesheet" /
link href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet" /
link href="assets/plugins/master-slider/masterslider/style/masterslider.css" rel="stylesheet" /
link href="assets/plugins/master-slider/masterslider/skins/default/style.css" rel="stylesheet" /
/! CSS Theme
link#style_color href="assets/css/theme-colors/default.css" rel="stylesheet" /
link href="assets/css/theme-skins/dark.css" rel="stylesheet" /
/! CSS Customization
link href="assets/css/custom.css" rel="stylesheet" /
